body {
    display: flex;
    flex-flow:row nowrap;
    align-items: flex-start;
    align-content: flex-start;
}

/* Mise en forme menu */
.sidebar {
    display: flex;
    order: -1;
    flex-flow: column;
    align-self: flex-start;
    position: fixed;
    width: 200px;
    top: 80px;
}

.menu {
   
    border: 3px solid black ;
    background-color: grey; 
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: white; 

}

.menu li
{
    text-align: right;
    list-style: none;
    margin: 10px;

}

/* Mise en forme alt. menu */
#droite
{
    visibility: visible; 
    right: 10px;
}

#gauche
{
    visibility: hidden;
    left: 10px;
}

contenu 
{
    display: flex;
    flex-flow: row wrap;
    order: 2;
    position: relative;
    width: 600px;
    left: 230px;
    text-align: justify;
}

/* Mise en forme texte */
h1
{
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
}

h2
{
    font-style: italic;
    font-weight: bold;   
}

h3
{
    font-weight: bold;
    text-indent: 35px;
}

/* Mise en forme liens */
a:link
{
    text-decoration: none;
    color: white;
}

a:visited
{
    text-decoration: none;
    color: white;
}

a:active
{
    text-decoration: none;
    color: white;  
}

/* Mise en forme images */
img
{
    width: 100%;
}